body {
  height: 100%;
  margin: 0;
  background-color: #CCFFCC;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
}
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: black;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0099CC;
  color: white;
}
/* Add a space between cities and paragraph*/
.cities {
  margin-top: 10px;
}
/* Center project info and add a border*/
.projects {
  text-align: left;
  margin: auto;
  width: 60%;
  border: 3px solid #0099CC;
  padding: 10px;
}
/* Add margin to bottom of header to space project info*/
.portfolio-header {
  margin-bottom: 40px;
}
/* Background color change*/
.contact-me form {
  /*text-align: left;*/
  margin: auto;
  width: 25%;
  border: 3px solid #0099CC;
  padding: 10px;
  background-color: #66CCFF;
}
/* Center the table in the contact page*/
.contact-table {
  margin: auto;
}
/* Style the links inside the table in the contact page */
.contact-table a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #003399;
  border: 3px solid #0099CC;
}
/* Change the color of links on hover */
.contact-table a:hover {
  background-color: #ddd;
  color: black;
}
/* Style the links inside the contact page */
.email {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #003399;
  border: 3px solid #0099CC;
  margin-top: 40px;
}

.email:hover {
  background-color: #ddd;
  color: black;
}
/* Add a blue background color to the footer */
footer {
  overflow: hidden;
  background-color: #003399;
  margin-top: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* Format footer links */
footer a {
  color: #f2f2f2;
  padding: 14px 16px;
}
